body{
	background-color: #D5DFD6  ;
	}
body html{
	margin:0;
	padding:0;
}

.navbar-default{
	background-color:#3c3c3c;
	border-color:#428bca;
	border-radius: 0; 
	font-size:18px;
}
.container {
    padding: 16px;
}

.backgroundimg{
	background-image: url('BGimage/image04.jpg');
	background-size:100%;
	background-position: center center;
	background-repeat: no-repeat;
	height: 150vh;
	width: 100%; 
}
.aboutus{
	background-color: red;
	margin-top: 100px;
}







